body {
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background-color: yellow;
}

footer {
    width: 100%;
    background-color: yellow;
}

section {
    width: 100%;
    box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;
}

.box-1 {
    box-flex: 1;
    -webkit-box-flex: 1;
    min-height: 100px;
    background-color: aqua;
}

.box-2 {
    box-flex: 1;
    -webkit-box-flex: 1;
    min-height: 100px;
    background-color: #ccc;
}

.box-3 {
    box-flex: 1;
    -webkit-box-flex: 1;
    min-height: 100px;
    background-color: aqua;
}