.container {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.prod-list {
    list-style: none;
    padding: 0;
}

.prod-list li {
    position: relative;
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
}

.prod-list img {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    float: left;
    z-index: 6;
}

.caption {
    text-align: center;
    background: rgba(0,0,0,0.5);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 300px;
    text-align: center;
    color: white;
    z-index: 10;
    opacity: 0;
    background-color: black;
}

.prod-list li:hover img {}

.prod-list li:hover .caption {
    transition: all 0.6s;
    opacity: 1;
    transform: translateY(-300px);
}






